spring:
  application:
    name: task-manager
  datasource:
    url: jdbc:postgresql://localhost:5432/taskmanager
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret: DRx7Tk2AmNwEu32nDw9FgZof3NrHOQ5PnMT8x9HHRf5 # your-secret-key-change-this-in-production-minimum-256-bits
  expiration: 86400000  # 24 hours